html, body, main{
	-webkit-font-smoothing:antialiased;
	font-family: "Comic Sans MS", sans-serif;

	margin:0;
	width: 100%;
	height: 100%;
	background-image: url("https://i.imgur.com/SHZe50s.gif");
}

#__next { margin: 0; min-height: 100vh; padding: 0; }

.content {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

@media screen and (max-width: 700px) {
    .content {
		display: flex;
        flex-direction: column;   
		height: 100vh; 
    }

	.imageText {
		max-height: 100px !important;
	}

	.imagePic {
		max-height: 400px !important;
	}
}

.image-container {
	flex-grow: 1;
	width: 100%;
}

.image {
	object-fit: contain;
	height: 100%;
	position: relative !important;
	max-width: fit-content;
}

.center{
	text-align: center;
}

.intro{
	font-size:3em;
    margin-bottom: 0;
}
.max { 
    display: block;
    width: 100%;
	height: 100%;
    word-wrap: break-word;
}

h1, h2, h3, p, a {
  color: yellow;
}

/* @group Blink */
.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/* @end */